name: Auto update index.json

on:
  push:
    branches:
      - main

jobs:
  update-index:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Generate index.json
        run: node scripts/gen-index.js

      - name: Commit index.json
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add index.json
          git commit -m "Auto update index.json" || echo "No changes"
          git push
